
.arrow {
    position: fixed;
    top: 60vh;
    width: 5rem;
    animation: flyInFromLeft 1s ease-in-out forwards;
}
@keyframes flyInFromLeft {
    0% {
        transform: translateX(22rem);
    }
    100% {
        transform: translateX(50rem);
    }
}

.arrowatyou {
    position: fixed;
    top: 60vh;
    width: 5rem;
    animation: flyInFromRight 1s ease-in-out forwards;
}
@keyframes flyInFromRight {
    0% {
        transform: translateX(50rem);
    }
    100% {
        transform: translateX(22rem);
    }
}

input:focus {
    outline: none
}

.hover {
    cursor: pointer;
}
